# Core ML libraries
torch #or torch>=2.2.0
xformers 
bitsandbytes

# Hugging Face ecosystem
transformers #or transformers>=4.40.0
peft
accelerate
datasets
trl
huggingface_hub

# OpenAI for data generation
openai

# Unsloth (Latest version from GitHub is recommended for Llama-3)
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
